<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать доску</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='create_card.css') }}">
    <script src="{{ url_for('static', filename='js/dark-mode.js') }}"></script>
</head>
<body>

<header>
    <h1>Создайте новую доску</h1>
</header>

<div class="content">
    <form method="POST" action="{{ url_for('create_board') }}">
        {{ form.hidden_tag() }}
        <div>
            <label for="name">Название доски:</label>
            {{ form.name() }}
        </div>
        <button type="submit">Создать доску</button>
    </form>
    <a href="javascript:history.back()" class="back-button">Назад</a>
</div>
</body>
</html>
{% include 'footer.html' %}